
.DS_Store
AmongUs/.mono/assemblies/Debug/api_hash_cache.cfg
AmongUs/.mono/assemblies/Debug/GodotSharp.dll
AmongUs/.mono/assemblies/Debug/GodotSharp.pdb
AmongUs/.mono/assemblies/Debug/GodotSharp.xml
AmongUs/.mono/assemblies/Debug/GodotSharpEditor.dll
AmongUs/.mono/assemblies/Debug/GodotSharpEditor.pdb
AmongUs/.mono/assemblies/Debug/GodotSharpEditor.xml
AmongUs/Actors/.DS_Store
